<?xml version="1.0" encoding="ISO-8859-1"?>
<servlet>
	<servlet-name>velocity</servlet-name>
	<servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet
	</servlet-class>
	<init-param>
		<param-name>org.apache.velocity.properties</param-name>
		<param-value>/WEB-INF/velocity.properties</param-value>
	</init-param>
	<init-param>
		<param-name>org.apache.velocity.toolbox</param-name>
		<param-value>/WEB-INF/tools.xml</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>velocity</servlet-name>
	<url-pattern>*.vm</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>freemarker</servlet-name>
	<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

	<!-- FreemarkerServlet settings: -->
	<init-param>
		<param-name>TemplatePath</param-name>
		<param-value>/</param-value>
	</init-param>
	<init-param>
		<param-name>NoCache</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>ContentType</param-name>
		<param-value>text/html; charset=UTF-8</param-value>  
	    <!-- Forces UTF-8 output encoding! -->
	</init-param>

	<load-on-startup>1</load-on-startup>
</servlet>

<servlet-mapping>
	<servlet-name>freemarker</servlet-name>
	<url-pattern>*.ftl</url-pattern>
</servlet-mapping>


